.container-fluid {
    background-color: yellow;
}

.btn {
    margin-left: 50px;
}

.btn-secondary:hover {
    background-color: black;
}

.btn-link:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}
#notification{
    margin-left: 0%;
}
